.banner {
  height: 448px;
  /* adjust the image full length */
  object-fit: contain;
}
.banner__image {
  object-fit: contain;
  width: 18%;
  margin-right: 5rem;
  border: .5rem solid #ECF0F1;
  border-radius:.5rem ;
}
/* .banner__image:hover{
  border: .5rem solid #EC7063;
} */

.banner__content {
  padding: 4rem 4rem;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner__name {
  margin-top:8rem ;
  font-size: 3rem;
  font-family: "Syne Mono", monospace;
}
.btn {
  font-family: "Syne Mono", monospace;
}
.btn {
  margin: 2rem 1rem 2rem 0;
  padding: 0.6rem 1rem;
  font-size: 1.6rem;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.4);
  transition: all ease 0.2s;
}
.btn:hover {
  background: #ecf0f1;
  border: 1px solid #333;
  color: #333;
}

.banner__description {
  width: 40rem;
  font-family: "Syne Mono", monospace;
  line-height: 2rem;
  font-size: 1.6rem;
}
